MONGO_URL=your_mongodb_connection_string_here
PORT=your_port
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
NODE_ENV=development
ADMIN_NAME=your_name
ADMIN_EMAIL=your_email
ADMIN_PASSWORD=your_password